* {
  box-sizing: border-box;
}
.wrapper {
  width: 100vw;
  height: 100vh;
}
.title {
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}